.menu {
    background: chartreuse;
    color: green;
    opacity: 0.7;
    width: 100%;
    height: auto;
}
ul{
    display: flex;
    padding-left:0 ;
}
li{
    list-style: none;
    width: 100px;
    height: auto;
    padding: 15px;
    text-align: center;
}
.menu li:hover{
    color:white;
    background-color: grey;
    opacity: 0.7;
}
.menu_2{
    position: relative;
}
.menu_2_con{
    position: absolute;
    display: none;
}
.menu_2:hover .menu_2_con{
    display: block;
    top:100%;
    left:0;
    background: black;
}
.menu_3{
    position: relative;
}
.menu_3_con{
    position: absolute;
    display: none;
}
.menu_3:hover .menu_3_con{
    display: block;
    top:0;
    left: 130px;
    background: black;
}
