.header{
    background: floralwhite;
    text-align: center;
    padding: 20px;
}
.menu{
    background: black;
    width: 100%;
    color:wheat;
    margin-bottom: 0;
}
ul{
    margin:0 auto;
    padding-left: 10px;
}
.menu>ul{
    display: flex;
}
li:hover{
    color:white;
}
li{
    list-style: none;
    padding:20px;
    padding-left:0;
}
.content{
    height: auto;
    width: 100%;
    background-color: #D8D8D8;
}
.left{
    width: 60%;
    height: auto;
    background: lightgrey;
    float: left;
}
.left_1{
    width: 92%;
    height: auto;
    background: white;
    float: left;
    margin: 2%;
    padding: 2%;
}
.left_2{
    width: 92%;
    height: auto;
    background: white;
    float: left;
    margin: 2%;
    margin-top:0.1% !important;
    padding: 2%;
}
.right{
    width: 40%;
    height: auto;
    background: lightgrey;
    float: left;
   
}
.right_1{
    width: 92%;
    height: auto;
    padding: 2%;
    background: white; 
    margin-top:3%;
}
.right_2{
    width: 92%;
    height: auto;
    padding: 2%;
    background: white; 
    margin-top:2%;
}
.right_3{
    width: 92%;
    height: auto;
    padding: 2%;
    background: white; 
    margin-top:2%;
}
.image{
    width: 98%;
    height: 100px; 
    background: lightslategrey;
    padding: 1%;
}
.add{
    height: 40px !important;
}
.footer{
    width: 100%;
    height: auto;
    background-color: rgba(216, 216, 216, 0.603);
    text-align: center;
    padding: 15px 0;
    clear: both;
    margin:0 auto;
}